/* .logo {
  width: 100px;
  height: 100px;
  margin-left: auto;
} */

/* logo*/
.logo {

  height:30;
   width: 40;
}

/* navbar */

/* .navbar {
  margin-left: 200px;
  background-color: #e3f2fd;
} */
