/* .logo {
  width: 100px;
  height: 100px;
  margin-left: auto;
} */

/* logo*/
.logo {

  height:30;
   width: 40;
}

/* navbar */

.bg-infocolor {
 
  background-color:  hsl( 45  95% 62% );
}

/* hearder */
.defilement{

  background-color:#abb8c3;

  color: white;
}

.navbar_cl
{
  background-color: #e3f2fd;
  color: black;
}

.colp
{
  margin-left: 200px;
}

.para{
  color: hsl( 45  95% 62% );
}