

  <div class="defilement fixed-top" >

    <marquee>Bienvenue dans votre espace medical</marquee>
    <!-- <marquee [direction]="up">votre santé est notre priorité</marquee> pour defilement du texte du haut vers le bas-->
  </div>

  <!-- and slide -->


<header> <!--header start-->

  <nav class="navbar  navbar-expand-md navbar-dark fixed-top ">
    <div class="container bg-infocolor mt-3 p-2 rounded">

      <a class="navbar-brand  " href="">MON ESPACE MEDICAL</a>
      <button class="navbar-toggler  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> <span class="onglet me-5"></span>
      <div class="collapse navbar-collapse"  id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item effet">
            <a class="nav-link active "  [routerLink]="['/home']"   aria-current="page" href="#">ACCUEIL</a>
          </li>
          <li class="nav-item effet">
            <a class="nav-link active" [routerLink]="['/specialite']" >SPECIALITES</a>
          </li>
          <li class="nav-item effetp ">
            <!--  lien du profil -->
            <a class="nav-link active " routerLink="/login">PROFIL PATIENT</a>
          </li>
          <li class="nav-item effet">
            <!--  lien du profil -->
            <a class="nav-link active " routerLink="/admin/profil">PHARMACIE</a>
          </li>
          <li class="nav-item effet">
            <a class="nav-link active " >Contactez-nous</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">RECHERCHE</button>
        </form>
      </div>
    </div>
  </nav>
</header> <!--fin header-->

<main>

