<div class=" row justify-content-evenly">
  <div class="row col-md-12">
    <div class="col-md-6">
      <div class="card " style="width: 18rem;">

        <div class="card-body ">
          <form class=" g-3 mb-3">
            <!-- <form class="row g-3 needs-validation" novalidate> -->
            <div class="col-md-6">
              <div class="form-outline">
                <label for="validationCustom01" class="form-label">Creer une specialité</label>
                <input type="text" class="form-control" id="validationCustom01" formControlName="first_name" required />
              </div>
            </div>
          </form>
          <a href="" class="btn btn-info my-3">Creer</a>
        </div>
      </div> <!--fin specialite-->
    </div>
    <div class="col-md-6">

      <!-- debut hobital -->
      <div class="card " style="width: 18rem;">

        <div class="card-body ">
          <form class=" g-3 mb-3">
            <!-- <form class="row g-3 needs-validation" novalidate> -->
            <div class="col-md-6">
              <div class="form-outline">
                <label for="validationCustom01" class="form-label">Creer un Docteur</label>
                <input type="text" class="form-control" id="validationCustom01" formControlName="first_name" required />
              </div>
            </div>
          </form>
          <a href="" class="btn btn-info my-3">Creer</a>
        </div>
      </div>

      <!-- fin  hobital -->
    </div>
  </div>
</div>


<!-- tableau specialite -->
<div class="row justify-content-evenly my-5">
  <div class="col-md-5">
    <div class=" liste mb-3">
      <h3>LISTE DES SPECIALITES</h3>
    </div>
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Docteur</th>
          <th scope="col">Hopital</th>
          <th scope="col">Matricule</th>
          <th scope="col">Spécialité</th>
          <th scope="col">Sexe</th>


        </tr>
      </thead>
      <tbody>

        <tr>
          <th scope="row">2</th>
          <td>DR N ZO</td>
          <td>CHU COCODY</td>
          <td>1420245CI</td>
          <td>GENERALISTE</td>
          <td>M</td>
        </tr>
        <tr>

          <th scope="row">3</th>
          <td>OKAFOR</td>
          <td>BONNE SANTE</td>
          <td>2420245CI</td>
          <td>DENTISTE</td>
          <td>F</td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- </div> -->

<!-- fin tableau specialite -->




<!--  debut hopital-->
<!-- <div class="row col-md-12"> -->
  <div class="col-md-5">
    <div class=" liste mb-3">
      <h3>LISTE DES DOCTORS</h3>
    </div>
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Docteur</th>
          <th scope="col">Hopital</th>
          <th scope="col">Matricule</th>
          <th scope="col">Spécialité</th>
          <th scope="col">Sexe</th>


        </tr>
      </thead>
      <tbody>

        <tr>
          <th scope="row">2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- fin hopital -->


<!-- btn delete, update add -->
<div class="row justify-content-center">
  <div class="col-4 text-center">
    <button type="button" class="btn btn-danger  mx-2"><i class="fa fa-trash"></i></button>
    <button type="button" class="btn btn-info  mx-2"><i class="fa-sharp fa-regular fa-plus"></i></button>
    <button type="button" class="btn btn-teal espace-btn  mx-2"><i class="fa fa-pen-to-square"></i></button>
  </div>

</div>
<app-footer></app-footer>


<!--  end btn delete, update add -->
