<!-- header start -->
<div class="navba-container">
  <div class="defilement">
    <p>Bienvenue dans votre espace medical</p>
  </div>
  <ul class="nav justify-content-center" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <!-- <li class="nav-item">
      <img src="assets/images/logo.jpg" alt="" srcset="" class="logo">
    </li> -->
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Spécialité</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profil Parient</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ">Contactez-nous</a>
    </li>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="recherche " placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </ul>
</div>
