
 <!--  -->
 <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Completer vos informations</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <!-- zone de text  -->
  <div class="container" [formGroup]="infoPerso" (ngSubmit)="inforPersonel()"> <!-- fin div contenue dashboard-->
    <form class="row g-3">
      <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-6">
          <div class="form-outline">
            <input type="text" class="form-control" id="validationCustom01" value="" required />
            <label for="validationCustom01" class="form-label">First name</label>
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-outline">
            <input type="text" class="form-control" id="validationCustom02" value="" required />
            <label for="validationCustom02" class="form-label">Last name</label>
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-outline">
            <input type="text" class="form-control" id="validationCustom03" required />
            <label for="validationCustom03" class="form-label">N° Assurance maladie</label>
            <div class="invalid-feedback">Please provide a valid number.</div>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="form-outline">
            <input type="text" class="form-control" id="validationCustom03" required />
            <label for="validationCustom03" class="form-label">Genre</label>
            <select class="form-select form-select-mb " aria-label=".form-select-sm example">
              <option selected>Sexe</option>
              <option value="1">F</option>
              <option value="2">M</option>
              <option value="3">NB</option>
            </select>
          </div>
        </div> -->

        <!-- <div class="col-md-6">
          <label for="validationCustom03" class="form-label">Genre</label>
          <select class="form-select form-select-mb " aria-label=".form-select-sm example">
            <option selected>Sexe</option>
            <option value="1">F</option>
            <option value="2">M</option>
            <option value="3">NB</option>
          </select>
        </div> -->


          <div class="col-md-2">
            <select class="form-select form-select-mb " aria-label=".form-select-sm example">
              <option selected>Sexe</option>
              <option value="1">F</option>
              <option value="2">M</option>
              <option value="3">NB</option>
              <!-- <label for="validationCustom03" class="form-label">Genre</label> -->
            </select>
          </div>

          <div class="col-md-3">
            <!-- <label for="inputPassword4" class="form-label">Commune</label> -->
            <select class="form-select form-select-mb " aria-label=".form-select-sm example">
              <option selected>Commune</option>
              <!-- les conditions ngIf -->
              <option *ngFor="let commune of communes" value="{{commune.id_commune}}">{{commune.disrict_name}}</option>
            </select>

          </div>

          <div class="col-md-6">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="av 24 rue 32">
          </div>

          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Contact</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>

            <div class="col-md-6">
              <label for="inputAddress" class="form-label">profession</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="ingenieur système">
          </div>
      </form>

    </form> <!--fin form-->
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Valider</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Completez votre profil</button>

 <!--  -->
