<!-- <p>information-personnelle works!</p> -->

<!--  information general patient -->
<p>information patient</p>

<div class="container"> <!-- fin div contenue dashboard-->
  <form class="row g-3">
    <div class="row">

      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nom</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Prenom</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Numero Assurance maladie</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="col-md-2">
      <label for="inputPassword4" class="form-label">Date de naissance</label>
      <select class="form-select form-select-mb " aria-label=".form-select-sm example">
        <option selected>Date</option>
        <option value="1">28/09/1992</option>

      </select>
    </div>
    <div class="row mt-2">
      <div class="col-md-2">
        <label for="inputPassword4" class="form-label">Genre</label>
        <select class="form-select form-select-mb " aria-label=".form-select-sm example">
          <option selected>Genre</option>
          <option value="1">F</option>
          <option value="2">M</option>
          <option value="3">NB</option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="inputPassword4" class="form-label">Commune</label>
        <select class="form-select form-select-mb " aria-label=".form-select-sm example">
          <option selected>Commune</option>
          <option value="1">Marcory</option>
          <option value="2">Cocody</option>
          <option value="3">Abobo</option>
          <option value="3">yopougon</option>

        </select>
        <!-- <input type="text" class="form-control" id="inputCity"> -->

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="av 24 rue 32">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Contact</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="inputAddress" class="form-label">profession</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="ingenieur système">
      </div>

    </div>

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
      <label class="form-check-label" for="flexSwitchCheckChecked">Marié</label>

    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
      <label class="form-check-label" for="flexSwitchCheckChecked">Celibataire</label>
    </div>
    <!-- constante -->
    <!-- <div class="row-mt-2">
        <div class="col-md-1">
          <label for="inputAddress" class="form-label">Poids</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="00 kg">
        </div>

        <div class="col-md-1">
          <label for="inputAddress" class="form-label">Tailles</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="5 kg">
        </div>
    </div> fin constante -->
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
  </form>
</div> <!-- fin div contenue dashboard-->

 <!--  information general patient -->
