
<!-- title -->

<div class="d-flex justify-content-between  lex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 rounded px-3 border-bottom style-bar " >
  <div class="title-h2 ">
    <h1 class="h2 ">INFORMATION PERSONNELLE</h1>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">

  </div>
</div>
<!-- fin title -->

 <!-- modal -->
 <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Completez vos informations</h4>

    <button  type="button" class="btn-close btn-en-bas" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <!-- zone de text  -->
  <div class="container" [formGroup]="infoPerso" (ngSubmit)="inforPersonel()"> <!-- fin div contenue dashboard-->
    <form class="row g-3">
      <!-- <form class="row g-3 needs-validation" novalidate> -->
        <div class="col-md-6">
          <div class="form-outline">
            <input formControlName="first_name" type="text" class="form-control" id="validationCustom01" required />
            <label for="validationCustom01" class="form-label">First name</label>
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-outline">
            <input formControlName="last_name" type="text" class="form-control" id="validationCustom02" required />
            <label for="validationCustom02" class="form-label">Last name</label>
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-outline">
            <input formControlName="assurance_maladie" type="text" class="form-control" id="validationCustom03" required />
            <label for="validationCustom03" class="form-label">N° Assurance maladie</label>
            <div class="invalid-feedback">Please provide a valid number.</div>
          </div>
        </div>

        <div class="col-md-2">
          <select formControlName="gender" class="form-select form-select-mb " aria-label=".form-select-sm example">
            <option selected>Sexe</option>
            <option value="F">F</option>
            <option value="M">M</option>
            <option value="NB">NB</option>
          </select>
          <label for="validationCustom03" class="form-label">Genre</label>
        </div>

          <div class="col-md-3">
            <select formControlName="commune" class="form-select form-select-mb " aria-label=".form-select-sm example">
              <option selected>Commune</option>
              <!-- les conditions ngFor -->
              <option *ngFor="let commune of communes" value="{{commune.id_municipality}}">{{commune.municipality_name}}</option>
            </select>
            <label for="inputPassword4" class="form-label">Commune</label>

          </div>

          <div class="col-md-6">
            <label for="inputAddress" class="form-label">Address</label>
            <input formControlName="address" type="text" class="form-control" id="inputAddress" placeholder="av 24 rue 32">
          </div>

          <div class="col-md-6">
            <label  for="inputEmail4" class="form-label">Contact</label>
            <input formControlName="contact" type="text" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-4">
            <label  for="inputEmail4" class="form-label">Date de naissance</label>
            <input formControlName="birthday" type="date" class="form-control" id="inputEmail4">
          </div>


          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-info" aria-label="Close" (click)="d('Cross click')">Valider</button>
          </div>

      </form>

    <!-- </form>  -->
    <!-- fin form -->
  </div>


</ng-template>

<button class="btn btn-lg btn-outline-info" (click)="open(content)">Completez votre profil</button>

<!-- <app-footer></app-footer> -->

