/*  couleur lors de la navigation */
.active
{
  color: brown !important;

}

/* .dashboard{
  box-shadow: royalblue;
} */


/*  couleur side bar  */

/* .bgcolorsidebar{
  background-color: #048B9A;
} */
