/*  couleur lors de la navigation */
.active
{
  color: brown !important;

}

/* .dashboard{
  box-shadow: royalblue;
} */


/*  couleur side bar  */

.bgcolorsidebar{
  /* background-color: #048B9A; */
  background-color:  hsl( 45  95% 62% );


}
.nav-link{
  color: white;
}


.prof{

  border: 1px solid white;
  border-radius: 50px;
}


/* POUR LE HOVER  SUR PRESCRIPTION*/
.style-bar8:hover{
  transform: translateY(-5px);
  background-color:  rgba(173, 173, 226, 0.548);
  border-radius: 50rem;
}


/* add info */

.style-bar1:hover
{
  transform: translateY(-5px);
  background-color:  rgba(173, 173, 226, 0.548);
  border-radius: 50rem;
}


/*  */
