<!--  navabar profil patient -->
<!-- <header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a> -->

      <!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
      </ul> -->

      <!-- bar de recherche -->
      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="dropdown text-end ms-auto">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Paramettre</a></li>
          <li><a class="dropdown-item" href="#">Profil</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Deconnexion</a></li>
        </ul>
      </div> -->

      <!-- new dropdown -->
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div> -->
      <!--  fin dropdown -->






    <!-- </div>
  </div>
</header> -->

<!--  new haeder -->
<!-- <header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="dropdown text-end">
        <a href="" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>-->
<!--  fin new header -->

<!--  div left side bar -->
<!-- <div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-5 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item"> -->

            <!-- routerLinkActive = "active" pour le rediriger lors de la navigation-->

            <!-- <a class="nav-link active" aria-current="page" routerLink ="/admin/information-personnelle" routerLinkActive = "active">
              <span data-feather="home" class="align-text-bottom"></span>
              Informations personnelle
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/consultation" routerLinkActive = "active">
              <span data-feather="file" class="align-text-bottom"></span>
              Mes consultations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/prescription" routerLinkActive = "active">
              <span data-feather="users" class="align-text-bottom"></span>
              Prescrition
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/maladie" routerLinkActive = "active">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              maladie
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/antecedent" routerLinkActive = "active">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Antecedent
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/ajouter" routerLinkActive = "active">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Ajouter Medecin
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/constante" routerLinkActive = "active">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Mes constantes
            </a>
          </li>


        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
</div>  -->

<!-- *************ne************** -->
<!--fin header-->

<!-- HEADER -->
 <header class="p-2 mb-3 border-bottom">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MON ESPACE MEDICAL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <div class="d-flex " >
          <span class="profilimg  me-5 mt-3">OZN FERA</span >


          <img class="prof" src="/assets/imag/login.jpg" alt="" height="45" width="40" >
        </div>
      </div>
    </div>
  </nav>
  <!--  -->
</header>
 <!-- FIN HEADER  -->

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block  sidebar collapse dashboard  bgcolorsidebar">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <i class="fa-solid fa-house"></i>
               Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="./informationPersonnelle" >
              <i class="fa-solid fa-user-tie"></i>
              COMPLETEZ PROFIL
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./consultation">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
              MES CONSULTATIONS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./prescription">
              <span data-feather="users" class="align-text-bottom"></span>
              ORDONNANCE
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="./antecedent" >
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              ANTECEDENT
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./ajoutMedecin">
              <span data-feather="layers" class="align-text-bottom"></span>
              DOCTEUR
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./specialiteHopitalDr">
              <span data-feather="layers" class="align-text-bottom"></span>
              SPECIALITE
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./constante">
              <span data-feather="layers" class="align-text-bottom"></span>
              CONSTANTES
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle" class="align-text-bottom"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Notification
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Mes patients
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom " >
        <h1 class="h2">INFORMATION PERSONNELLE</h1>
        <div class="btn-toolbar mb-2 mb-md-0"> -->
          <!-- <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div> -->
          <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button> -->
        <!-- </div> -->
      <!-- </div> -->
       <!--fin du side bar-->

           <router-outlet></router-outlet>
      <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->


    </main>
  </div>
</div>


<!-- **************************** -->


