
<div class="container">
  <form class="row g-3">
    <div class="row-mt-2">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Poids</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Ex: 85 kg">
      </div>
    </div>
    <div class="row-mt-2">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Taille</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Ex: 1.77 ">
      </div>
    </div>
    <div class="row-mt-2">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Température</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Ex: 37° C">
      </div>
    </div>
    <div class="row-mt-2">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Glycémie</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Ex: 0.74 G/L">
      </div>
    </div>
    <div class="row-mt-2">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Tension artérielle</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Ex: ">
      </div>
    </div>
    <div class="row-mt-2">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Fréquence cardiaque</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Ex: ">
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">valider</button>
    </div>
  </form>
</div>
