/* btn valider */

.btn-valider{
  justify-content: center;
}

.liste
{
  /* justify-content: center; */
  text-align: center;
  background-color: #008080;
  margin-bottom: px;
}


.espace-btn
{
  background-color: #008080;
}

/* navbar dashboard */
.style-bar{
  background-color: #048B9A;

}
