<app-header></app-header>
<section class="vh-100 bg-image back-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                  <div class="card card-image"> <!--pour l'image du card-->
                      <div class="card-body p-2">
                          <h2 class="text-uppercase text-center mb-1">Creer un compte</h2>

                          <form  [formGroup]="enregistrer"> <!--  form start-->


                              <div class="form-outline mb-1">
                                <label class="form-label" for="form3Example1cg">votre nom</label>
                                  <input type="text" id="form3Example1cg" class="form-control form-control-sm" />
                              </div>

                              <div class="form-outline mb-1">
                                <label class="form-label" for="form3Example3cg">Votre email</label>

                                  <input type="email" id="form3Example3cg" class="form-control form-control-sm" />
                              </div>

                              <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example4cg">Password</label>

                                  <input type="password" id="form3Example4cg"
                                      class="form-control form-control-sm" />
                              </div>

                              <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example4cdg">Confirmez votre password</label>

                                  <input type="password" id="form3Example4cdg"
                                      class="form-control form-control-sm" />
                              </div>

                              <!-- <div class="form-check d-flex justify-content-center mb-5">
                                  <input class="form-check-input me-2" type="checkbox" value=""
                                      id="form2Example3cg" />
                                  <label class="form-check-label" for="form2Example3g">
                                      J'accepte toutes les déclarations dans <a href="#!" class="text-body"><u>les
                                              conditions d'utilisation</u></a>
                                  </label>
                              </div> -->

                              <div class="d-flex justify-content-center">
                                <!-- enregistrer -->
                                  <button type="submit" routerLink ="enregistrer" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" >Enregistrer</button>
                              </div>

                              <p class="text-center text-muted mt-3 mb-0">Avez vous deja un compte ? <a href="#!"
                                      class="fw-bold text-body"><u>Connectez-vous</u></a></p>

                          </form>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> <!-- fin section  -->
