<div class="d-flex justify-content-between  lex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom style-bar " >
  <div class="title-h2 ">
    <h1 class="h2 ">MES ANTECEDENTS</h1>
  </div>

</div>
<div class="container"> <!-- fin div contenue dashboard-->
  <form class="row g-3">

    <div class="row-mt-2">
      <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Nom de la maladie</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Ex: Drépanocytose">
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <label for="inputPassword4" class="form-label">Lien familiale</label>
        <select class="form-select form-select-mb " aria-label=".form-select-sm example">
          <option selected>-Sélectionnez un lien</option>
          <option value="1">père</option>
          <option value="2">mère</option>
          <option value="3">grand-parent</option>

        </select>
      </div>
    </div>
    <div class="row-mt-4">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Commentaire (facultatif)</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">valider</button>
    </div>
  </form>
</div> <!-- fin div contenue dashboard-->
