<div class="d-flex justify-content-between  lex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom style-bar " >
  <div class="title-h2 ">
    <h1 class="h2 "  >CONSULTATION </h1>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <!-- <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div> -->
    <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar" class="align-text-bottom"></span>
      This week
    </button> -->
  </div>
</div> <!--fin du side bar-->
<!-- <div class="row-mt-4">
  <h4>MES CONSULTATIONS</h4>
</div> -->


<!--  modale -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Demande de consultation</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <!-- zone de text  -->
  <div class="row-mt-2">


    <!-- liste deroulante -->
    <div class="container">
      <form class="row g-3" [formGroup]="consult" (ngSubmit)="diagnostique()" >

        <div class="row-mt-2">
          <div class="col-md-12">
            <label for="inputEmail4" class="form-label">Decrivez vos mal</label>
            <input formControlName="description" type="text" class="form-control" id="inputEmail4" placeholder="Ex: Drépanocytose">
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Hopital</label>
            <select class="form-select form-select-mb " aria-label=".form-select-sm example">
              <option selected>-Choix---</option>
              <option value="1">santé absolue</option>
              <option value="2">recovery</option>
              <option value="3">ngouhan</option>

            </select>
            <label for="inputPassword4" class="form-label">Spécialité</label>
            <select class="form-select form-select-mb " aria-label=".form-select-sm example" >
              <option selected>-Choix---</option>
              <option value="1">Généraliste</option>
              <option value="2">Dermatologie et vénérologie</option>
              <option value="3">Allergologie</option>
              <option value="4">L’anesthésiologie</option>
              <option value="5">L’andrologie</option>
              <option value="6">cardiologie</option>
              <option value="7">dermatologie</option>
              <option value="8">endocrinologie</option>
              <option value="9">gastro-entérologie</option>
              <option value="10">gynécologie</option>
              <option value="11">hématologie</option>
              <option value="12">hépatologie</option>
              <option value="13">infectiologie</option>
              <option value="14">neurologie</option>
              <option value="15">odontologie</option>
              <option value="16">ophtalmologie</option>
              <option value="17">orthopédie</option>
              <option value="18">pédiatrie</option>
              <option value="19">pneumologie</option>
              <option value="20">rhumatologie</option>
              <option value="20">urologie</option>
            </select>
          </div>

          <!--  -->
          <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Medecin</label>
            <select formControlName="medecin" class="form-select form-select-mb " aria-label=".form-select-sm example" >
              <option selected>-Choix de medecin</option>
              <option value="1">N'GUESSAN</option>
              <option value="2">Dr N'ZO </option>
            </select>
          </div>
          <!--  -->
        </div>
        <!-- fin zone de text  -->
        <div class="row-mt-4">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Motif de consultation</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div> <!-- fin liste deroulante -->

        <!-- <div class="col-12">
            <button type="submit" class="btn btn-primary">valider</button>
          </div> -->
      </form>
    </div> <!-- fin div contenue dashboard-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="c('Save click')">envoyer</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-info" (click)="open(content)">Nouvelle Consultation</button>

<!--  tableau consultation -->
<!-- <table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">Jour</th>
      <th scope="col">Hopital</th>
      <th scope="col">Medecin</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>  tableau consultation -->
