

<!-- header -->
<app-header></app-header>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">BIENVENUE</h1>
      <p class="lead text-muted"> Voulez-vous consulter un specialiste ? veuillez selection une specialité en prenant un rendez-vous</p>
      <p>
        <a href="#" class="btn btn-primary my-4">rendez-vous</a>
        <a href="#" class="btn btn-secondary my-4">Tarif consultation</a>
      </p>
    </div>
  </div>
</section>
<!-- baniere d'image  -->
<!-- <div class="row">
  <div class="col-2">

  </div>
  <div class="col-8">

      <img src="/assets/imag/specialites.png">
   
  </div>
  <div class="col-2">

  </div>
</div> -->

<!-- enumeration des specialité -->
<!-- 
  
 -->

<div class="row" >
  <div class="col-4">
    <div class="card" style="width: 18rem; display: flex; justify-content: center;">
      <div class="card-body">
        <h5 class="card-title">Généraliste</h5>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem; display: flex; justify-content: center;">
      <div class="card-body">
        <h5 class="card-title">Dermatologie</h5>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem; display: flex; justify-content: center;">
      <div class="card-body">
        <h5 class="card-title">Diétéique</h5>
      </div>
    </div>
  </div>
  
</div>



<!-- FOOTER -->
  
<app-footer></app-footer>